<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    </head>
    <body>
        <style>
            .wrapper-main{
                width: 700px;
                margin: auto;
            }
            .wrapper-sub{
                width: 900px;
                margin: auto;
            }
        </style>
        <div class="nav">
            <ul>
                <li><a href="navigation_bar.html">HOME</a></li>
                <li><a href="india.html">MAP</a></li>
                <li class="dropdown">
                    <a href="#">STATES</a>
                    <div class="dropdown-content">
                        <div class="column">
                          <a href="ap.html">Andhra Pradesh</a>
                          <a href="arunachal.html">Arunachal Pradesh</a>
                          <a href="assam.html">Assam</a>
                          <a href="bihar.html">Bihar</a>
                          <a href="westbengal.html">Bengal</a>
                          <a href="chhattisgarh.html">Chhatisgard</a>
                          <a href="Goa.html">Goa</a>
                        </div>
                        <div class="column">
                          <a href="Gujarat.html">Gujarat</a>
                          <a href="haryana.html">Haryana</a>
                          <a href="himachal.html">Himachal Pradesh</a>
                          <a href="Jharkhand.html">Jharkhand</a>
                          <a href="karnataka.html">Karnataka</a>
                          <a href="kerala.html">Kerala</a>
                          <a href="madhyapradesh.html">Madhaya Pradesh</a>
                        </div>
                        <div class="column">
                          <a href="maharstra.html">Maharastra</a>
                          <a href="meghalaya.html">Meghalaya</a>
                          <a href="mizoram.html">Mizoram</a>
                          <a href="nagaland.html">Nagaland</a>
                          <a href="odisha.html">Odisha</a>
                          <a href="punjab.html">Punjab</a>
                          <a href="rajasthan.html">Rajasthan</a>
                        </div>
                        <div class="column">
                          <a href="sikkim.html">Sikkim</a>
                          <a href="tamilnadu.html">Tamil nadu</a>
                          <a href="telangana.html">Telangana</a>
                          <a href="uttarpradesh.html">Uttar Pradesh</a>
                          <a href="uttarakhand.html">Uttakhand</a>  
                          <a href="tripura.html">Tripura</a>  
                          <a href="">Jammu and Kashmir</a>            
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="wrapper">
            <h1>Tripura</h1>
            <div align="center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Emblem_of_India.svg/188px-Emblem_of_India.svg.png"height="150" width="150" align="top">
            
            <h4>Emblem of Tripura</h4></div>
            <p> The State Emblem of India is the national emblem of the Republic of India and is used by the union government, many state governments, and other government agencies. The emblem is an adaptation of the Lion Capital of Ashoka, an ancient sculpture dating back to 280 BCE during the Maurya Empire. The statue is a three dimensional emblem showing four lions. It became the emblem of the Dominion of India in December 1947,[1] and later the emblem of the Republic of India. The State Emblem of India is an official seal of the Government of India. It is used as the national emblem of India and appears on official documents, currency and passports.
                The emblem was adopted by the Government of India on 26 January 1950, the day that India became a republic. It is based on the Lion Capital of Ashoka, a sculpture that was originally erected at the Sarnath, a place where Gautama Buddha first taught the Dharma, now in Uttar Pradesh, India</p>
            
                <h1>Tripura Parties</h1>
            <div align="center">
                    <h2>Ruling Party BJP</h2>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Bharatiya_Janata_Party_logo.svg/270px-Bharatiya_Janata_Party_logo.svg.png" height="100" width="100" align="centre">
                    </div>
                    <p>The Bharatiya Janata Party (BJP; [bʱaːɾətiːjə dʒənətaː paːrtiː] ⓘ; transl. Indian People's Party) is a political party in India and one of the two major Indian political parties alongside the Indian National Congress.[35] Since 2014, it has been the ruling political party in India under the incumbent Prime Minister Narendra Modi.[36] The BJP is aligned with right-wing politics and has close ideological and organisational links to the Rashtriya Swayamsevak Sangh (RSS) volunteer paramilitary organisation.[37] Its policies adhere to Hindutva, a Hindu nationalist ideology.[38][39] As of January 2024, it is the country's biggest political party in terms of representation in the Parliament of India as well as state legislatures.
                    The party's origins lie in the Bharatiya Jana Sangh, which was founded in 1951 by Indian politician Shyama Prasad Mukherjee.[40] After the Emergency of 1975–1977, the Jana Sangh merged with several other political parties to form the Janata Party; it defeated the then-incumbent Indian National Congress in the 1977 general election.</p>
                    
                    
                    <div align="center">
                    <h2>Opposition party TMP</h2>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Tipra_Logo.jpg/270px-Tipra_Logo.jpg"height="100" width="100"  align="center">
                   </div>
                    <p> The Tipra Motha Party (TMP), also known as the Tipraha Indigenous Progressive Regional Alliance, is a regional political party and previously a social organisation in Tripura, India.[5][6][7] The TIPRA is led by Pradyot Bikram Manikya Deb Barma.[8][9] It is currently the largest opposition party in Tripura Legislative Assembly</p>
            
        </div>
    </body>
</html>
